@import "../../sass/variables";
.pagination {
   padding: 2rem;
   display: flex;
   justify-content: space-between;
   margin-left: 25rem;
   &__btn {
      padding: 1rem 3.5rem;
      border-radius: 10rem;
      background-color: $color-first;
      color: $color-white;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
   }
}
