@import "../../sass/variables";
.slider-box {
   padding: 2rem;
   width: 70%;
   margin-top: -4rem;
   margin-bottom: 10rem;
}
.slider-heading {
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
}
.slider {
   width: 100%;
   // margin: 0 0 10rem 2rem;
   padding: 2rem 0;

   &__link {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__image {
      height: 10rem;
      width: 10rem !important;
      border-radius: 50%;
      object-fit: cover;
   }
   &__textarea {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__mov-name {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color-first;
      margin-bottom: 0.5rem;
   }
   &__or-name {
      font-size: 1.2rem;
      font-weight: 900;
      color: $color-first;
   }
}
.slick-list {
   height: 17rem;
   padding: 0 5rem;
   width: 100% !important;
   // position: absolute;
   // top: 0;
   // left: 4rem;
}
.slick-track {
   height: 17rem;
}
.slick-slide {
   margin-right: 3rem;
   height: 100%;
   width: 10rem !important;
}
.slider-image {
   display: inline-block;
   width: 100%;
   background-size: cover;
}
